*{
    margin: 0%;
    padding: 0%; 
    text-decoration: none;
    list-style: none;
}

/* alterações gerais */

body{ 
    background: linear-gradient(rgba(15, 1, 65, 0.631), rgba(15, 1, 66, 0.699)), url('imgs/background_pagina_inicial.png') no-repeat center center;
    background-size: cover; 
    background-attachment: fixed;
    
}

a{
    color: white;
}

.entrada{
    margin: auto;
    text-align: center;
    display: grid;
}

.entrada h1{
    font-size: 40px;
    border-radius: 15px;
    background-color: #4f146ccc;
    height: 55px;
    margin: 0 500px 0 500px;
}

#rodape_top{
    display: flex;
    justify-content: space-between;

}


#gambling_logo{
    width: 700px;
}

#leve{
    display: block;
    margin: 5px auto;
    width: 450px;
    height: 450px;

}