*{
    margin: 0%;
    padding: 0%; 
    text-decoration: none;
    list-style: none;
}

/* alterações gerais */

body{ 
    background: linear-gradient(rgba(15, 1, 65, 0.631), rgba(15, 1, 66, 0.699)), url('../imgs/background_pagina_inicial.png') no-repeat center center;
    background-size: cover; 
    background-attachment: fixed;
    font-family: 'Poppins';
}

a{
    color: white;
}

footer{
    margin-top: 10%;
    display: grid;
    background-color: #1D004F;
    width: 100%;
}

p{
    color: white;
    opacity: 50%;
    margin-left: 50px;
}

p1{
    color: white;
    opacity: 50%;
    text-align: center;
    justify-content: center;
}

.logo{
    margin: 5% auto 0px auto;
}

.pena{
    margin: 3% 0px;
}


.icons{
    margin-top: 0px;
    display: flex;
    justify-content: space-evenly;
    margin-right: auto;
}

a{
    color: white;
}

.entrada{
    margin: 6% auto 0% auto;
    text-align: center;
}


a{
    color:white;
}



#gambling_logo{
    width: 400px;
}

#leve{
    display: block;
    margin: 5px auto;
    width: 250px;
    height: 250px;
}

#leve{
    display: block;
    margin: 5px auto;
    width: 450px;
    height: 450px;

}